
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #feb2f6;
  }
  
  .game-container {
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
        font-family: "Tangerine", cursive;
        font-weight: 400;
        font-style: normal;
      }
  
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .card {
    width: 100px;
    height: 100px;
    background-color: rgb(242, 168, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:white;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    transform-style: preserve-3d;
  }
  
  .card .card-front,
  .card .card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card .card-back {
    background-color: white;
    color: #e46ee2;
    transform: rotateY(180deg);
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .card.matched {
    background-color: #2ecc71;
    pointer-events: none;
  }
  
  .reset-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset-btn:hover {
    background-color: #2980b9;
  }
  
  